* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.nowrap {
  white-space: nowrap ;
}
.sr {
white-space: nowrap ;
}

#logo img {
display: block;
max-width: 15%;
max-height: 15%;
padding-left: 0;
margin-left: 0;
}

.fakeimg img{
height: 200px;
background: #aaa;
}
.navbar-i {
 color: #102550;
}

.navbar-i:hover {
  color: #1B75DB;
 }

.profile {
margin-top: 30px;
}
.navbar-custom {
background-color: #FF9933;
}

.navbar-toggler{
  background:
}
.navbar-custom .navbar-nav .nav-link {
  color: #102550;
  padding: 1rem 1rem;
}

.navbar-custom:hover .navbar-nav:hover .nav-link:hover {
  color: #1B75DB;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}


.back {
  background-color:white;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
}

.back>p {
  font-size: 32px;
}

.question {
  width: 75%;
}
.question h5 {
  size: 64px;
  text-align: center;
}

.options {
  background-color: #FF9933;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  padding-left: 40px
}

.options:hover {
  background-color: #e98017;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  padding-left: 40px
}

#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer
}

.options input {
  opacity: 0
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #1B75DB;
  border: 1px solid #ddd;
  border-radius: 50%
}

.options input:checked~.checkmark:after {
  display: block
}

.options .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark {
  background: #1B75DB;
  transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark:after {
  transform: translate(-50%, -50%) scale(1)
}

.btn-primary {
  background-color: #444;
  color: #ddd;
  border: 1px solid #ddd
}

.btn-primary:hover {
  background-color: #2088FF;
  border: 1px solid #21bf73
}

.btn-success {
  padding: 5px 25px;
  background-color: #1B75DB
}

@media(max-width:576px) {
  .question {
      width: 100%;
      word-spacing: 2px
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.volume {
  background-color:white;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px
}

.volume>p {
  font-size: 32px;
}

.areaV {
  background-color: #FF9933;
  padding: 50px;
  font-size: 2rem;
}

.areaV fa{
  background-color: #007B5E;
  text-decoration: none;
  font-size: 35px;
}

.areaV fa:hover{
  background-color: #007B5E;
  text-decoration: none;
  font-size: 35px;
}

.app {
  background-color: #007b5e;
  height: 50%;
}

.scroll_text{
	height:100px;
	overflow:auto;
	padding:0px 15px;
}
.scroll_text::-webkit-scrollbar {  
    width: 8px;  
}  
.scroll_text::-webkit-scrollbar-track {  
    background-color: #E7E7E7
}  
.scroll_text::-webkit-scrollbar-thumb {  
   background-color: rgba(223, 86, 86, 0.69);
border: 1px solid rgba(92, 92, 92, 0.5);
border-radius: 10px;
}  
.scroll_text::-webkit-scrollbar-thumb:hover {  
    background-color: #000;  
	
}  

  #header {
    transition: all 0.5s;
    z-index: 997;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  #header.header-scrolled, #header.header-inner-pages {
    background: rgba(40, 40, 40, 0.9);
  }
  
  #header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      border: 0;
      padding: 15px 0;
    }
  }
  

  #headnav {
    width: 100%;
    height: 100vh;
    background: url("../img/back.png") top center;
    background-size: cover;
    position: relative;
  }
  
  #headnav:before {
    content: "";
    /*background: rgba(255, 255, 255, 0.2);*/
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #headnav .container {
    padding-top: 72px;
    position: relative;
    text-align: center;
  }
  
  #headnav h1 {
    margin: 45px 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #28A745;
  }
  
  #headnav h2 {
    color: #28A745;
    margin-bottom: 40px;
    font-size: 24px;
  }
  
  #headnav .btn {
    width: 94px;
    height: 94px;
    margin: 0 auto;
    background: radial-gradient(#1B75DB 50%, rgba(0, 153, 97, 0.4) 52%);
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
  }
  
  #headnav .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #headnav .btn::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 3s;
    animation: pulsate-btn 3s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(0, 153, 97, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  #headnav .btn:hover::after {
    border-left: 15px solid #1B75DB;
    transform: scale(20);
  }
  
  #headnav .btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @media (min-width: 1024px) {
    #headnav {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #headnav h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #headnav h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  
/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* Footer */

section {
    padding: 0px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
  background: #007b5e !important;
}
#footer h5{
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color:#ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

@media (max-width:767px){
  #footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}
}

#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    color:#ffffff;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    padding: 1px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.quick-links li:hover{
    padding: 1px 0;
    margin-left:5px;
    font-weight:700;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

#footer .socmedia {
  padding: 0px;
  margin: 0px;
}
#footer .copyright {
  background-color: #1a252f;
}